<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header">
   <div class="navbar-brand">Contact Book</div>
  </div>
  <ul class="nav navbar-nav">
   <li><a href="/contacts">Index</a></li>
   <li><a href="/contacts/new">New</a></li>
  </ul>
 </div>
</nav>
